h4{
    font-size: 650%;
    margin-left: 20px;
}
h3{
    font-size: 350%;
    margin-bottom: 125px;
    margin-left: 20px;
}

.Slide1{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: none;
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

.rainbowText {
    animation: rainbow 1s linear infinite;
}